/** This Source Code Form is subject to the terms of the Mozilla Public
  * License, v. 2.0. If a copy of the MPL was not distributed with this file,
  * You can obtain one at http://mozilla.org/MPL/2.0/.
  */
body {
	color: #3c484e;
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga" on;
  line-height: 0rem;
}

a {
	text-decoration: none;
	background-color: transparent;
}

h1 {
  margin: 4rem 0;
  text-align: center;
  display: block;
}

.site-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-nav {
  padding: 2.5rem 0;
}

.inner {
  width: 100%;
  margin: 0 auto;
}

main img {
  width: 100%;
}

.fxrblurb {
  padding: 50px 10vw;
  color: #fafafa;
  background: #2d2d35;
  line-height: 2rem;
  text-align: center;
}

.fxrblurb p {
  margin-bottom: 2rem;
}

.fxrblurb p:last-child{
  margin: 0;
}

.fxrblurb a {
  color: #bf77ff;
  display: inline-block;
  border-bottom: 1px solid #bf77ff;
  transition: color, border-color, transform;
  transition-duration: 300ms;
}

.fxrblurb a:hover {
  transform: scale(1.03);
  color: #ddb7ff;
  border-color: #ddb7ff;
}

.fxrblurb a.abutton{
  color: #c584ff;
  transition: background 0.2s, color 0.2s, transform 0.4s;
  display: inline-block;
  padding: 10px 24px;
  border: none;
  border-radius: 7px;
  margin: 1rem;
  background: #191919;
}

.fxrblurb a.abutton:hover{
  color: #fafafa;
  background: #7621bd;
  transform: scale(1.03);
}

.fxrblurb a>img{
  width: 360px;
  display: block;
}

.navgrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.navlink {
  text-align: center;

  margin: 2rem;

  transition: transform;
  transition-duration: 300ms;
}

.navlink > a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;
}

.navlink > a > div {
  margin: 8px;
}

.logo_desc {
  max-height: 150px;
  max-width: 150px;
  display: block;
  margin: auto;
}



.fxrblurb a.feedbackbutton{
  color: #c584ff;
  transition: background 0.2s, color 0.2s, transform 0.4s;
  border: none;
  border-radius: 7px;
  background: #1c1c22;
  padding: 1rem 0;
}

.fxrblurb a.feedbackbutton:hover{
  color: #fafafa;
  background: #7621bd;
  transform: scale(1.03);
}


/* make some properties for larger screens */
@media (min-width: 1000px) {
  .inner {
    max-width: 1000px;
  }

  .navgrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .navlink {
    border-color: transparent;
  }
}


/* loosely based on footer at https://blog.mozvr.com/ */

.footer {
	background-color: #000;
	padding: 64px 16px;
	color: #fff;
  line-height: 2rem;
}

.footer__inner {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	margin-left: auto;
	margin-right: auto;
  padding-left: 1rem;
}

.footer__inner {
	width: 100%
}

.footer__legal {
	font-size: 14px;
	border-top: 1px solid hsla(0,0%,100%,.4);
	margin-top: 32px;
	padding-top: 16px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.footer__logo {
	height: 32px;
	width: auto;
}

.footer__title {
  margin: 0;
	font-weight: 600;
	letter-spacing: .5px;
}

.footer__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer__list a {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	border-bottom: 1px solid #000;
	transition: border-bottom .2s ease;
}

.footer__legal-list {
  float: left;
	margin: 0;
	padding: 0;
	list-style: none;
  padding-left: 1rem;
}

.footer__legal-list a {
  color: #fff;
}

.footer__legal-list li {
	float: left;
	margin-right: 32px;
}

/* make some properties for larger screens */
@media (min-width: 1000px) {
  .footer__inner, .footer__legal {
    max-width: 1000px;
  }

  .footer__inner {
    grid-template-rows: unset;
    grid-template-columns: 2fr 2fr 1fr;
  }

  .footer__title {
    margin-top: 32px;
  }
}
